.fullwidth {
    width: 100%;
}
.fullheight {
    height: 100%;
}
.relative {
    position: relative;
}
.hide {
    opacity: 0 !important;
}

.transition {
    transition: opacity 0.6s ease-in !important;
}